
.dim_night
{
    color: #160238;
    background: radial-gradient(circle, rgb(23, 3, 60) 42%, rgb(196, 44, 251) 35%, rgb(211, 255, 0) 100%);
}

.dream_saga
{
    color: #500075;
    background: radial-gradient(circle, rgb(232, 149, 255) 42%, rgb(196, 44, 251) 35%, rgb(211, 255, 0) 100%);
}

.sci_fi
{
    --petal00: #021024;
    --petal10: #021024;
    --petal11: #021024;
    background-color: #C1E8FF;
}